
.dial {
  height: 150px;
  overflow: hidden;
  position: relative;

  .dial-image {
    height: 300px;
    width: 300px;
    border: 20px solid $white;
    border-radius: 5000px;
    margin: 0 auto;
  }
  .dial-arm {
    height: 290px;
    width: 290px;
    position: absolute;
    top: 0;
    left: 25px;
    background-image: url('/img/dial-arm.png');
  }
}
